<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activities.CommandesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RechercheActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCFJvPFgBbXruve0cJwipWqgLTMDfl2z9o" />
        <meta-data
            android:name="com.google.android.geo.API_KEY_LEGACY"
            android:value="AIzaSyCFJvPFgBbXruve0cJwipWqgLTMDfl2z9o" />
        <meta-data
            android:name="com.google.android.geo.API_KEY_LEGACY_LOCAL"
            android:value="AIzaSyCFJvPFgBbXruve0cJwipWqgLTMDfl2z9o" />
        <meta-data
            android:name="com.google.android.geo.API_KEY_LOCAL"
            android:value="AIzaSyCFJvPFgBbXruve0cJwipWqgLTMDfl2z9o" />
        <meta-data
            android:name="com.google.android.geo.API_KEY_LOCAL_LEGACY"
            android:value="AIzaSyCFJvPFgBbXruve0cJwipWqgLTMDfl2z9o" />
        <meta-data
            android:name="com.google.android.geo.API_KEY_LOCAL_LEGACY_LEGACY"
            android:value="AIzaSyCFJvPFgBbXruve0cJwipWqgLTMDfl2z9o" />

        <activity
            android:name=".activities.MapsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PanierActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DetailProduitActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CatalogueActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AccueilActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>